.hidden{
    display: none;
}

.tab{
    float: left;
    list-style: none;
    margin-left: 5px;
}

.tab a{
    text-decoration: none;
    height: 40px;
    background-color: chartreuse;
    color: black;
    font-family: "Bodoni MT Poster Compressed";
    font-size: 20px;
    padding: 0 10px;
    margin: 0 5px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

a:hover{
  background-color: darkgreen;
}
.detail{
    clear: both;
}

.tabContainer{
    position: relative;
    clear: both;
}